pydantic
ipykernel
python-dotenv 
langchain
langchain-community
pypdf
bs4
arxiv==1.4.3
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_Huggingface
faiss-cpu
langchain_chroma
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
speechrecognition
